p
  if word
    .backlabel
      |Back
    .discoveredlabel  
      |Showing Chord Chart for:
    .backcenter
      #back
    .discovered
      .heading2 
        if errorMsg
            a(href="/addword/" + word + "1",  id="addword", title="add word to your list?") #{word}
        else
            a(href="/addword/" + word,  id="addword", title="add word to your list?") #{word}
    .heading5
      |[r]: 
      a(href="/words/" + headword) #{headword} 
      |[ipa]: #{ipa}
      br
      
      
    if definition
      for item in definition
        .heading4 #{item}
    if errorMsg
      .heading3 #{errorMsg}
