p
  if word
    #backlabelFrame
      #backlabel
        |Hist.
    #discoveredlabelFrame
      #discoveredlabel  
        |Showing Chord Chart for:
    #backcenterFrame
      #backcenter
        #back
    #recentWords
      #recentWordsHeader
        |History
      if recent
        for item in recent
          .heading6
            a(href="/words/" + item) #{item}
    #discoveredFrame
      #discovered
        .heading2 
          if errorMsg
              a(href="/addword/" + word + "1",  id="addword", title="add word to your list?") #{word}
          else
              a(href="/addword/" + word,  id="addword", title="add word to your list?") #{word}
    #heading5Frame
      #heading5
        |[r]: 
        if headword != "n/a"
          a(href="/words/" + headword) #{headword} 
        else
          |n/a 
        |[ipa]: #{ipa}
        br
      
      
    if definition
      for item in definition
        #heading4Frame
          #heading4 #{item}
    if errorMsg
        #heading3Frame
          .heading3 #{errorMsg}
